*{
    font-family: sans-serif;
    font-weight: bold;
}

.margin-20{
    margin: 20px 0;
}

.hidden{
    display: none;
}

.factura{
    /*HEADER*/
    /*BODY*/
    /*FOOTER*/
    /*CEDIBLE*/
}

.factura.container{
    border: 1px solid rgb(190, 190, 190);
    padding: 15px;
    width: 780px;
    margin: auto;
}

/*HEADER*/

.factura .header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.factura .header-logo{
    /*float: left;*/
    display: inline-block;
    width: 150px;
    margin: auto 10px auto 0;
}

.factura .header-logo img{
    display: block;
    margin: auto ;
    height: 50px;
    width: 130px;
}

.factura .header-datos{
    /*float: left;*/
    display: inline-block;
    width: 350px;
}

.factura .header-datos h3{
    color: green;
    margin: 30px 0 6px;
}

.factura .header-datos p{
    color: #1c1c8d;
    font-size: 13px;
    margin: 8px 0;
}

.factura .header-red{
    color: green;
    text-align: center;
}

.factura .header-red-box{
    display: block;
    border: 3px solid green;
    width: 100%;
}

.factura .header-red-box span{
    max-width: 240px;
}

/*BODY*/

.factura .body-datos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.factura .body-datos-box{
    width: 500px;
    border: 1px solid black;
}

.factura .body-datos ul{
    list-style: none;
}

.factura .body-datos ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.factura .body-datos span{
    font-size: 13px;
    margin: 8px 0;
}

.factura .body-datos span.title{
    color: #1c1c8d;
    margin-right: 5px;
    width: 120px;
}

.factura .body-datos span.text{
    margin-right: 40px;
}

/*FOOTER*/  

.factura .footer{
    border: 1px solid black;
    margin-top: 10px;
}

.factura .footer-table{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}

.factura .footer-table th{
    border: 1px solid black;
    border-top: none;
    padding: 10px;
    color: #1c1c8d;
}

.factura .footer-table th:first-child{
    border-left:none;
}

.factura .footer-table th:last-child{
    border-right: none;
}

.factura .footer-table td{
    padding: 0 10px;
}

.factura .footer-table span{
    margin: 4px 0;
}

.factura .footer-pago{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2px 10px;
}

.factura .footer-pago span{
    font-size: 13px;
    margin: 8px 0;
}

.factura .footer-pago span.title{
    color: #1c1c8d;
    margin-right: 5px;
    width: 120px;
}

.factura .footer-pago span.text{
    margin-right: 40px;
}

.factura .footer-sii{
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.factura .footer-sii-timbre{
    width: 420px;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
}

.factura .footer-sii-total{
    width: 350px;
    margin: auto;
    margin-right: 0;
}

.factura .footer-sii-total-box{
    border: 1px solid black;
    font-size: 15px;
    padding-left:15px;
}

.factura .footer-sii-total-box div{
    text-align: right;
}
.factura .footer-sii-total-box div span{
    font-size: 13px;
    margin: 8px 0;
}

.factura .footer-sii-total-box div span.title{
    color: #1c1c8d;
    width: 220px;
    margin-right: 15px;
}

.factura .footer-sii-total-box div span.text{
    margin-right: 10px;
    width: 65px;
}

/*CEDIBLE*/

.factura .cedible{
    border: 1px solid black;
    border-top: none;
}

.factura .cedible-box{
    padding: 10px;
    border-bottom: 1px solid black;
}

.factura .cedible-box span{
    font-weight: 100;
    font-size: 13px;
    font-style: italic;
}

.factura .cedible-box span:first-child{
    margin-top:0;
}

.factura .cedible label{
    color: red;
    text-align: right;
    margin: 10px;
    display: block;
}
.pay-list{
	text-align: left;
}
.pay-list li{
    margin-left:3em;
}